@use "./../../Styles/colours" as col;

.icon-container {
    align-items: center;
    display: grid;
    grid-column: 1;
    grid-column-gap: 4px;
    grid-template-columns: repeat(var(--icon-count), 24px);

    ::deep svg path {
        fill: #dedede;
    }

    .icon {
        grid-column: var(--icon-index);
        grid-row: 1;
        height: 20px;
        justify-self: center;
        position: relative;
        width: 20px;
    }

    .status-icon {
        border-radius: 10px;
        height: 10px;
        width: 10px;

        &.error {
            background-color: col.$error;
        }

        &.warning {
            background-color: col.$warning;
        }

        &.new {
            background-color: col.$add;
        }

        &.inherited {
            background-color: transparent;
            border-style: solid;
            border-width: 2px;
            height: 10px;
            width: 10px;

            &.error {
                background-color: transparent;
                border-color: col.$error;
            }

            &.warning {
                background-color: transparent;
                border-color: col.$warning;
            }

            &.new {
                background-color: transparent;
                border-color: col.$add;
            }
        }
    }

    .status-icon-container {
        direction: rtl;
        display: grid;
        grid-column: 1;
        grid-row: 1;
        grid-template-columns: repeat(3, 6px);
        height: 20px;
        justify-self: right;
        position: relative;
        top: -4px;
        z-index: 10;
    }
}

.node-text {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    grid-column: 2;
    height: 1.5em;
    line-height: 1.5em;
    min-width: 100px;

    &.with-subtitle {
        display: grid;
        grid-row-gap: 4px;
        height: unset;
        line-height: unset;

        .subtitle {
            font-size: 10px;
            line-height: 10px;
        }
    }

    > span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.node-template-container {
    display: contents;

    ::deep {
        .action-button-container {
            --button-size: 22px;
            --button-icon-size: 16px;

            grid-template-columns: repeat(var(--button-count), var(--button-size));

            > button {
                height: var(--button-size);
                width: var(--button-size);

                .icon {
                    height: var(--button-icon-size);
                    width: var(--button-icon-size);
                }
            }
        }

        .tree-node {
            grid-column-gap: 4px;
            height: 28px;
            margin: 2px 0px;

            &.actions-visible-on-hover {
                &:not(:hover):not(.selected), &:not(.has-buttons) {
                    grid-template-columns: min-content auto;

                    .action-button-container {
                        display: none;
                    }
                }
            }

            &.has-subtitle {
                margin: 6px 0px;
            }
        }
    }
}
