@use "./../../../Styles/colours" as col;

.add-device-menu {
    background-color: col.$content-dark;
    border: 1px solid col.$border;
    border-radius: 4px;
    cursor: pointer;
    left: var(--position-x, 0);
    padding: 4px;
    position: fixed;
    top: var(--position-y, 0);
    user-select: none;
    z-index: 10;
}

.device-tree-section-container {
    bottom: 0;
    display: grid;
    grid-template-rows: min-content auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .tree-options {
        display: grid;
        gap: 8px;
        grid-auto-flow: column;
        grid-template-columns: auto min-content min-content min-content;
        margin: 12px 8px 12px 8px;

        ::deep .button {
            grid-template-columns: unset;
            height: unset;
            border-color: col.$border;
            transition: background-color .3s ease-in-out;

            .icon {
                margin-left: 0px;
            }

            &:hover:not(:disabled) {
                background-color: col.$content-dark-hover;
            }
        }
    }

    ::deep .tree-editor-container {
        background-color: inherit;

        .expand-button .icon, .guideline {
            // necessary because bootstrap breaks the layout otherwise
            box-sizing: unset;
        }

        .tree-node-display-container {
            height: unset;
        }
    }

    ::deep .search-box-container {
        background-color: inherit;
        margin: 12px 8px;
    }
}

.menu-entry {
    align-items: center;
    border-radius: 4px;
    display: grid;
    grid-column-gap: 4px;
    grid-template-columns: 24px auto;
    padding-right: 4px;

    &:hover {
        background-color: col.$content-dark-hover;
    }

    ::deep svg {
        path {
            fill: col.$accent;
        }
    }
}
