@use "./../../../Styles/colours" as col;

.caption {
    align-items: center;
    display: grid;

    span {
        border-radius: 4px 0px 0px 4px;
        font-size: 13px;
        line-height: 1em;
        overflow: hidden;
        padding: 6px 8px 5px 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .trigger-name {
        display: flex;
        justify-content: flex-end;
    }

    &.sensors {
        grid-auto-rows: 24px;
        grid-row-gap: 4px;
        padding-top: calc(10px + 24px + 4px);

        .status-icon {
            border-radius: 10px;
            height: 10px;
            width: 10px;
            position: absolute;

            &.error {
                background-color: col.$error;
            }

            &.new {
                background-color: col.$add;
            }
        }

        button {
            color: col.$font-dark;

            &:hover {
                color: col.$accent;

                ::deep svg {
                    path {
                        fill: col.$accent;
                    }
                }
            }

            > span {
                background-color: unset !important;
            }

            ::deep svg {
                height: 24px;
                width: 24px;

                path {
                    fill: col.$font-dark;
                }
            }
        }
    }
}

.captions {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-row-gap: 4px;
    grid-template-rows: repeat(calc(var(--caption-count, 0) - 1), 24px) auto;
    text-align: right;
}

.device-identifier-cell {
    display: grid;
    flex: 1;
    grid-template-columns: 100%;
    width: max-content;
}

.device-name {
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.device-name-container {
    display: grid;
    grid-column: 1;
    grid-column-gap: 4px;
    grid-row: 1;
    grid-template-columns: auto max-content;
    grid-template-rows: 24px;
}

.device-status {
    grid-area: status;

    > .status {
        display: grid;
        grid-column-gap: 4px;
        grid-template-columns: min-content auto;
        white-space: nowrap;

        &.error {
            > .status-dot {
                background-color: col.$error;
            }
        }

        &.info{
            > .status-dot {
                background-color: col.$add;
            }
        }

        &.warning {
            > .status-dot {
                background-color: col.$warning;
            }
        }

        > .status-dot {
            background-color: rebeccapurple;
            border-radius: 8px;
            height: 8px;
            place-self: center;
            width: 8px;
        }
    }
}

.hidden-caption {
    border-radius: 4px 0px 0px 4px;
    font-size: 13px;
    line-height: 1em;
    overflow: hidden;
    padding: 6px 8px 5px 8px;
    text-overflow: ellipsis;
    visibility: collapse;
    white-space: nowrap;
}

.status-bar {
    background-color: col.$error;
    height: 70%;
    left: 1px;
    position: absolute;
    top: 15%;
    width: 2px;
}

.tooltip-container {
    background-color: col.$content;
    border: 1px solid col.$border;
    border-radius: 8px;
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-areas:
        "header"
        "status";
    grid-template-rows: min-content 1fr min-content;
    padding: 8px;

    &.no-status {
        grid-template-areas:
            "header";
        grid-template-rows: min-content;

        .tooltip-header {
            border: none;
            padding: 0px;
        }
    }
}

.tooltip-header {
    border-bottom: 1px solid col.$border;
    font-weight: bold;
    grid-area: header;
    padding-bottom: 8px;
    text-align: center;
    white-space: nowrap;
}
