@use "./../../../Styles/colours" as col;

.device-identifier-cell {
    display: grid;
    flex: 1;
    grid-template-columns: 100%;
    width: max-content;
}

.device-name {
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.device-name-container {
    display: grid;
    grid-column: 1;
    grid-column-gap: 4px;
    grid-row: 1;
    grid-template-columns: auto;
    grid-template-rows: 24px;
}

.status-bar {
    background-color: col.$error;
    height: 70%;
    left: 1px;
    position: absolute;
    top: 15%;
    width: 2px;
}
