@use "./../../../Styles/colours" as col;

.device-identifier-cell {
    display: grid;
    flex: 1;
    grid-template-columns: 100%;
    width: max-content;
}

.device-name {
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.device-name-container {
    display: grid;
    grid-column: 1;
    grid-column-gap: 4px;
    grid-row: 1;
    grid-template-columns: auto;
    grid-template-rows: 24px;
}

.status-bar {
    align-self: anchor-center;
    background-color: col.$error;
    height: 1.5em;
    left: 2px;
    position: absolute;
    top: 0px;
    width: 2px;
}
